name: Deploy

on: [release]

jobs:
#  nuget:
#    name: NuGet
#    runs-on: windows-latest
    
#    steps:
#    - name: Checkout
#      uses: actions/checkout@v1
#    - name: Deploy to NuGet Gallery
#      env:
#        NUGET_KEY: ${{ secrets.NUGET_KEY }}
#      run:  
#        dotnet pack -c Release
#        cd bin\Release
#        dotnet nuget push LightweightIocContainer.*.nupkg -k NUGET_KEY -s https://api.nuget.org/v3/index.json

  github:
    name: GitHub
    runs-on: windows-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Deploy to GitHub Package Registry
#      env:
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: dotnet pack -c Release
#        nuget sources Add -Name "GithubPackageRegistry" -Source "https://nuget.pkg.github.com/SimonG96/index.json" -UserName SimonG96 -Password GITHUB_TOKEN
#        cd bin\Release
#        dotnet nuget push LightweightIocContainer.*.nupkg -Source "GithubPackageRegistry"
